<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Logging..!!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Favicon icon -->
    <link rel="icon" href=" {{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon">
    <!-- Google font--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/bootstrap/css/bootstrap.min.css') }}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='icon/themify-icons/themify-icons.css') }}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='icon/icofont/css/icofont.css') }}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/jquery.mCustomScrollbar.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-digital-trend.css') }}">
     <script type="text/javascript" src="{{ url_for('static',filename='js/loader.js') }}"></script>
     <script type="text/javascript">
         google.charts.load('current', {'packages':['gauge']});
         google.charts.setOnLoadCallback(drawChart);
 
         
         if ('{{ValueOut}}' == '0') {
             _Data = {{ValueOut}};
         } else {
             _Data = {{ValueOut}};
         }
 
         function drawChart() {
 
             var data = google.visualization.arrayToDataTable([
             ['Label', 'Value'],
             ['Prediction', _Data],
             ]);
 
             var options = {
             width: 600, height: 300,
             redFrom: 90, redTo: 100,
             yellowFrom:75, yellowTo: 90,
             minorTicks: 5
             };
 
             var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
 
             chart.draw(data, options);
 
             setInterval(function() {
             data.setValue();
             chart.draw(data, options);
             }, 13000);
         }
 
         </script>

</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="index.html">
                            <img class="img-fluid" src="{{url_for('static',filename='images/logo.png')}}" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                            
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <img src="https://cdn3.iconfinder.com/data/icons/avatar-profession-2/512/Avatar_17_-_Professions_-_Background-15-512.png" class="img-radius" alt="User-Profile-Image">
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a href="{{url_for('Logout')}}">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40 img-radius" src="https://cdn3.iconfinder.com/data/icons/avatar-profession-2/512/Avatar_17_-_Professions_-_Background-15-512.png" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>{{FName}}</span>
                                        <span id="more-details">{{ Usename | lower}}</span>..!!<i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="#"><i class="ti-user"></i>View Profile</a>
                                            <a href="#!"><i class="ti-settings"></i>Settings</a>
                                            <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pcoded-search">
                                <a href="{{url_for('ComposeMail')}}" class="btn btn-primary btn-outline-primary btn-block"><i class="ti-pencil-alt"></i>Compose Mail</a>
                            </div>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Folders</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="{{url_for('Mailinbox')}}">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Inbox</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{{url_for('MailDrafts')}}">
                                        <span class="pcoded-micon"><i class="ti-comment-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Draft</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{{url_for('Mailsent')}}">
                                        <span class="pcoded-micon"><i class="ti-share"></i></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Sent</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                
                                
								
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
<center>
        <div id="chart_div" class="img-fluid" style="width: 100% ; height: 100%;"></div>
  
       </center>
							
                                <div class="page-wrapper">
                                   

                                    {% for value in data%}	
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont bg-c-blue">{{value[2][0] | upper }}</i>
                                                    <div class="d-inline">
                                                      
                                                           
                                                            <input type="hidden" name="FileNo" id="FileNo" value="{{value[5]}}"/>
                                                            <input type="hidden" name="EmailID" id="EmailID" value="{{value[2]}}"/>
                                                            <input type="hidden" name="Subject" id="Subject" value="{{value[3]}}"/>
                                                            <h5> <a href="" id="mylink" target="_self" ></h5>{{value[2]}}</a> 
                                                            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                                                            <span>{{value[3]}}</span><br><br>
                                                            <span>{{value[5]|striptags }}</span>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        {{value[4]}}
                                                    </ul>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                window.onload = function() {
                                                    document.getElementById('mylink').onclick = function() {
                                                        document.getElementById('myform').submit();
                                                        return false;
                                                    };
                                                };
                                            </script>
                                        </div>
                                    </div>
                                    {% endfor %}





                                    





                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Required Jquery -->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/popper.js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{{ url_for('static',filename='js/modernizr/modernizr.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/modernizr/css-scrollbars.js') }}"></script>
<!-- classie js -->
<script type="text/javascript" src="{{ url_for('static',filename='js/classie/classie.js') }}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static',filename= 'js/script.js') }}"></script>
<script src="{{ url_for('static',filename='js/pcoded.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/demo-12.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>


     <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
     <script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static',filename='js/smoothscroll.js') }}"></script>
     <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
</body>

</html>
